<div id="Header">
    <span><img  id="logo" src="/assets/logos/logo.png"></span>
    <p>Products</p>
    <p>Solutions</p>
    <p>Pricings</p>
    <button type="button" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary">Getting Started</button>
    <span><svg id ="SuperSimple" src="/assets/logos/We make it Super Sim.svg"></svg></span>
    <span><img id="weCollect" src="/assets/logos/collect_img-video.png"></span>
</div>

         <div>
        <span><svg id="small_blob" src= "/assets/logos/blob-small.svg"></svg></span>
        
    
       
        </div>
    
     
        
   





