<div class="root"> 
    <div class="header">
   <img  src="/assets/logos/logo.png">
    <p class="product">Products</p>
    <p class="solutions">Solutions</p>
    <p class="pricing">Pricings</p>
    <button type="button"  class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary">Getting Started</button>

    </div>

    <div class="bodyleft">
        
        <svg class ="SuperSimple" src="/assets/logos/We make it Super Sim.svg"></svg>
        <svg class="small_blob" src= "/assets/logos/blob-small.svg"></svg>  
        <img class="weCollect" src="/assets/logos/collect_img-video.png">
        
    </div>    

    <mat-slider></mat-slider>
</div>
