.root
{
  max-height: 2145px;
  max-width: 1920px;

}
.header
{
  max-width:1920px;
  max-height: 123px;
}
.bodyleft
{
  float: left;
  max-width: 788px;
  
 
}

button
{
    display: inline;
    margin-left: 5rem;
    margin-top: 0px;
    position: relative;
    
    
}
p
{
  margin-top:68px;
  display: inline;
  margin-left: 5rem;
  font-family:Open Sans;
  
  
}
img
{
  margin-left: 120px;
  margin-top: 27px;
}
.small_blob
{ position: relative;
  overflow: none;
  display:inline-block;
    top: 64px;
left: -200px;
width: 571px;
height: 572px;
background: transparent url('/assets/logos/blob-small.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}
.SuperSimple
{
  position: relative;
  overflow: none;
  display:inline-block;
    top: 231px;
left: 189px;
width: 407px;
height: 98px;
background: transparent url('/assets/logos/We make it Super Sim.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.weCollect
{
  position: relative;
  overflow: none;
  display:inline-block;
    top: -298px;
    left: 62px;
    width: 652px;
    height: 365px;
    background: transparent url('/assets/logos/collect_img-video.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Eligibility
{
  float: right;
  position: absolute;
top: 270px;
left: 1100px;
width: 688px;
height: 675px;
background: transparent url('/assets/logos/Group 6.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}
.bigcircle
{
top: -227.9068603515625px;
position: absolute;
left: 852px;
width: 1183px;
height: 1192px;
transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
background: transparent url('/assets/logos/circle.svg') 0% 0% no-repeat padding-box;
opacity: 0.5;
}

.rectangle
{
  position:absolute;
  top: 450px;
left: 192px;
width: 236px;
height: 8px;
background: #000000 0% 0% no-repeat padding-box;
border-radius: 13px;
opacity: 0.7;
}